*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, 0.3);
}

header h1{
    font-size: 1.5rem;
}

#theme-toogle{
    padding: 0.6rem 1.4rem;
    border: none;
    border-radius: 30px;
    background: linear-gradient(135deg, #ff9800, #ff5722);
    color:#fff;
    font-weight: bold;
    letter-spacing: bold;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

#theme-toogle:hover{
    background: linear-gradient(135deg, #ff5722, #e91e63);
    transform: scale(1.05);
    box-shadow: 0 6px 14px rgba(0,0,0,0.3);
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 2rem;
}

section{
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
}

section h2{
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

#digital-clock
#date-display
#stopwatch{
    font-size: 2rem;
    margin: 0.5rem 0;
    font-weight: bold;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;   /* Centers horizontally */
  align-items: center;       /* Centers vertically */
  gap: 1rem;
  flex-wrap: wrap; 
  width: 100%; 
  text-align: center; 
}

button{
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 8px;
    background: #20d2ff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
}

button:hover{
    background: #e68900;
    transform: scale(1.05);
}

/*Lap list */
#laps{
    list-style: none;
    margin-top: 1rem;
    text-align: left;
    max-height: 150px;
    overflow-y: auto;
}

#laps li{
    background: rgba(255, 255, 255, 0.2);
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 6px;
    font-size: 0.9rem;
}

@media(max-width: 600px){
    section{
        padding: 1.5rem;
    }

    #digital-clock,
    #stopwatch{
        font-size: 1.5rem;
    }

    button{
        flex: 1 1 40%
    }
}

/* Dark Theme */

body.dark {
    background: linear-gradient(135deg, #000000, #434343);
}

body.dark header{
    background: rgba(255, 255, 255, 0.1);
}

body.dark section{
    background: rgba(255, 255, 255, 0.05);
}

body.dark button{
    background: #4caf50
}

body.dark button:hover{
    background: #3e8e41;
}
